* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    background-color: white;
    
    width: 100vw;

}

.content>h1 {
    margin-bottom: 1rem;

}

.janela-info{
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(7, 6, 6, 0.44);
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 9999;
    
   
}

.info{
    width: 300px;
    height: 300px;
  
    
    
}
.btn-fechar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.fechar{
    border-radius: 50%;
    border: none;
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.fundo{
    background-color: rgb(123,31,31);
    background: linear-gradient(90deg, rgba(123,31,31,1) 0%, rgba(255,0,0,1) 39%, rgba(231,5,5,1) 66%, rgba(45,45,45,1) 100%);
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 5px;
}
.janela-info.abrir{
    display: flex;
}

.poke-section{
    display: flex;
    flex-direction: column;
}
.img-header{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.img-box{
    width: 200px;
    height: 220px;
    position: relative;
    background-color: white;
    border: 10px solid rgb(255, 255, 255);
}

.section-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-header h1{
    margin-top: 1rem;
    margin-bottom: 0;
}
.information-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    text-align: center;
}
.infos{
    display: flex;
    flex-direction: column;
    width: 40%;

}
.info-tag{
   
    margin-bottom: .5rem;
}
.species-tag{
    margin-bottom: .5rem;
   display: flex;
   flex-direction: column;
}
.types-box{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
   
}
.type-box{
    margin-right: 2rem;
    border-radius: 5px;
    padding: .5rem;
    filter: brightness(1.1);
}
@keyframes abrirmodal{
    from{
        opacity: 0;
        transform:  translate3d(0, -20px, -5px);
    }

    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }

}
.abrir .info, .img-box, .fundo {
    animation: abrirmodal 1s;
}